*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  margin: 30px;
  border-bottom: 1px solid black;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

form input{
  padding: 20px 40px;
  font-size: 1.4em;
  border-radius: 10px;
  border: 0.5px solid black;
  min-width: 50%;
  margin-bottom: 15px;
}

.tags-status-btn{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.tags{
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.tag,
#delete-btn{
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.status-btn{
  display: flex;
  gap: 20px;
  align-items: center;
}

#status{
  border: 1px solid black;
  padding: 15px 20px;
  cursor: pointer;
}

.add-task-btn{
  border: 1px solid black;
  padding: 15px 20px;
  cursor: pointer;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 30em;
}

section .column{
  padding: 10px;
  min-width: 30%;
  border-right: 1px solid black;
}

section h1{
  margin-bottom: 10px;
}

.task-box{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}

.task-box h3{
  font-weight: 300;
  margin-bottom: 10px;
}

.tags-deleteBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-container{
  display: flex;
  flex-direction: row;
  gap: 7px;
}